<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>我要请假</title>
    <link rel="stylesheet" href="http://wandoulabs.com/static/css/bootstrap.flat.css">
    <link rel="stylesheet" href="http://wandoulabs.com/static/css/bootstrap-responsive.flat.css">
    <link rel="stylesheet" href="/static/style/daterangepicker-bs2.css">
</head>

<body>
    <div class="container" style="width: auto; max-width: 800px;">
        <div class="navbar navbar-inner">

            <h2>Hello, {{ name }}!
                <a class="pull-right" href="/logout" style="font-size:18px;">Logout</a>
            </h2>
            </h3>
        </div>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit" style="background: #eff0f2">
            <h1>
                请假，从未如此简单。
            </h1>
            <br>

            <h3>在贵荚，请假也是一件高大上的事情。</h3>
            <p>填写申请后自动发送给manager审批，审批通过后自动通知您所在的team。</p>
            <br>
            <a data-toggle="modal" data-target="#modal-vacation" href="#modal-vacation" class="btn btn-primary btn-large">我要请假</a>
        </div>
        <!-- Example row of columns -->
        <div class="row-fluid">

            <div class="span6">
                <div class="well" style="background-color: #ffffff;">

                    <h2>最近谁请假了</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>名字</th>
                                <th style="width:20%">天数</th>
                                <th style="width:20%">状态</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr id="key" class="entry">

                                <td>
                                    刘志达
                                </td>
                                <td style="width:20%">
                                    <span class="text-success">3天</span>
                                </td>
                                <td style="width:20%">
                                    <span class="label label-success ">Approved</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn" href="#">View details »</a>
                </div>
            </div>

            <div class="span6">
                <div class="well" style="background-color: #ffffff;">

                    <h2>我请过的假</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-name">名字</th>
                                <th class="col-dueon">天数</th>
                                <th class="col-status">状态</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr id="key" class="entry">

                                <td class="col-name">
                                    刘志达
                                </td>
                                <td class="due_on">
                                    <span class="text-warning">3天</span>
                                </td>
                                <td class="col-status">
                                    <span class="label label-success ">Approved</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn" href="#">View details »</a>
                </div>
            </div>

        </div>

    </div>
    <div class="footer">
        <div class="container" style="width: auto; max-width: 800px;">
            <hr>
            <p class="text-muted credit">
                &copy; 2013 Wandou Labs - Designed & Developed <a href="http://weibo.com/kyle">@zhida</a>.
            </p>
        </div>
    </div>
    <!-- /container -->
    <div id="modal-vacation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="/" method="post" style="margin-bottom: 0">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Product Design Review 状态</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="project">xxxx<sup>*</sup>
                        </label>
                        <div class="controls">
                            <select id="project" class="input-small" name="project" required>
                                <option></option>
                                <option>projectname</option>
                            </select>
                            <input type="text" class="input-large" id="name" name="name" required value="" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="notes">xxxx</label>
                        <div class="controls">
                            <textarea type="text" class="input-xlarge" rows="6" id="notes" name="notes">test</textarea>
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="reservationtime">选择请假时间范围:</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i>
                                </span>
                                <input type="text" name="reservation" id="reservationtime" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-loading-text="保存ing..." class="btn btn-primary">我要请假</button>
                <button class="btn" data-dismiss="modal">还是干活吧</button>
            </div>
        </form>
    </div>

</body>
<script src="http://wandoulabs.com/static/js/libs/jquery.min.js"></script>
<script src="http://wandoulabs.com/static/js/libs/bootstrap.min.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/daterangepicker.js"></script>
<script>
$(document).ready(function() {
    $('#reserflaflattvationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        format: 'MM/DD/YYYY h:mm A'
    });
});
</script>


</html>
