<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>继续找豌豆</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="/components/select2/select2.css">
    <link rel="stylesheet" href="/styles/aa814fd5.main.css"/>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="/components/es5-shim/es5-shim.js"></script>
      <script src="/components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Application content -->
    <div>
        <nav class="uk-navbar who-navbar" ng-controller="navbarCtrl">
            <a class="uk-navbar-brand who-navbar-content" href="/" alt="找豌豆"><img src="http://img.wdjimg.com/who/logo.png"></a>
            <div class="uk-navbar-flip">
                <div class="who-navbar-content home-navbar-search">
                    <form class="uk-display-inline-block">
                        <i class="uk-icon-search"></i>
                        <input ng-model="navbarQuery" ng-keydown="keydownHandler($event)" id="search" type="text" placeholder="通过名字，项目，职位找豌豆...">
                        <i class="uk-icon-spinner uk-icon-spin" ng-show="isShowSearchIcon"></i>
                    </form>
                </div>
                <!-- <div class="who-navbar-content home-navbar-export">
                    <button class="uk-button"><i class="uk-icon-download"></i>导出所有豌豆通讯录.csv</button>
                </div> -->
                <a class="who-navbar-content navbar-avatar" ng-href="/wandou/{{currentUser.id}}">
                    <img ng-src="{{currentUser.img}}" alt="{{currentUser.name}}">
                    <span>{{currentUser.name}}</span>
                </a>
            </div>
        </nav>
        <!-- <div ng-include="'views/menu/_MenuView.html'"></div> -->
        <div class="who-container" autoscroll="" ng-view=""></div>
    </div>

    <script src="///ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/components/select2/select2.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-ui-select2/src/select2.js"></script>

    <script src="/scripts/3a5595e5.plugins.js"></script>

    <script src="/scripts/d1f7f062.modules.js"></script>
    <script src="/components/requirejs/require.js" data-main="/scripts/main"></script>
</body>
</html>